# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# Environments
.env
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
backup/


# apk
*.apk

# PyCharm
.idea/

# Local config
# core/config.py

# Database
*.sqlite3
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

__pycache__/
*.pyc

alembic-backup/
alembic/versions/

uploads/

logo.png
static/pdfs/